.container .title {
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  margin: 2rem 0 1rem;
}

.title .query-text {
  color: #be32ff;
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.movies-container div {
  width: 30%;
  color: #fff;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #111;
  padding: 1rem;
}

.movies-container div img {
  max-width: 100%;
}

.movies-container div img,
.movies-container div p {
  margin-bottom: 1rem;
}

.movies-container div h2 {
  margin-bottom: 1.5rem;
}

.movies-container div svg {
  color: #be32ff;
}

.movies-container div a {
  background-color: #be32ff;
  border: 2px solid #be32ff;
  border-radius: 4px;
  color: #FFF;
  padding: 1rem 0.5rem;
  text-align: center;
  font-weight: bold;
}

.movies-container div a:hover {
  background-color: transparent;
  color: #be32ff;
}

@media only screen and (max-width: 768px) {
  .movies-container div {
    width: 48%;
    margin-bottom: 1.5rem;
  }

  .container .title {
    font-size: 2rem;
  }

  .movies-container div h2 {
    font-size: 1rem;
  }
}
